---
title: Quiz de fin de chapitre
prev: '/II/2-pattern-matching'
next: '/III/1-theorie'
---

<p>
  Comme pour le chapitre précédent, voici un petit quiz pour voir ce que vous avez
  compris et ce qu’il faut encore travailler. Le fonctionnement est toujours le même :
  vos réponses deviennent vertes dès qu’elles sont justes.
</p>

<section class="quizz">
  <p>On considère la fonction suivante :</p>

  <% code('ocaml') do %>
let tarif_concert age =
  if age < 16 then
    5
  else if age > 60 then
    10
  else
    15
  <% end %>

<p>Quelles sont les valeurs des expressions suivantes ?</p>

  <% code('ocaml') do %>
tarif_concert 12
  <% end %>
  <input class="code" type="text" pattern="5" required>

  <% code('ocaml') do %>
tarif_concert 38
  <% end %>
  <input class="code" type="text" pattern="15" required>

  <% code('ocaml') do %>
tarif_concert 127
  <% end %>
  <input class="code" type="text" pattern="10" required>

  <% code('ocaml') do %>
tarif_concert -15
  <% end %>
  <input class="code" type="text" pattern="5" required>
</section>

<section class="quizz">
  <p>Que faut-il écrire à la place des <code>______</code> pour que ces fonctions fassent ce qu’on attend d’elles ?</p>

  <% code('ocaml') do %>
let salut langue =
  match langue with
  | "fr" -> "Bonjour"
  | "es" -> "Hola"
  | "de" -> "Hallo"
  | ______ -> "Hello"
  | autre -> "Je ne parle pas " ^ autre
  <% end %>
  <input class="code" type="text" pattern="&quot;(en|anglais|an|english)&quot;" required>

  <% code('ocaml') do %>
let capitale pays =
  match pays with
  | "Allemagne" -> "Berlin"
  | "Italie" -> "Rome"
  | "Espagne" -> "Madrid"
  | "France" -> ______
  | autre -> "Je ne connais pas la capitale de " ^ autre
  <% end %>
  <input class="code" type="text" pattern="&quot;(paris|Paris)&quot;" required>
</section>
