---
title: Sommaire
no_title: true
illus: caml.jpg
description: "Ce cours a pour vocation d’être une alternative à l’UE d’INF201 (programmation fonctionnelle en OCaml) de l’Université de Grenoble-Alpes (UGA). En effet, cette UE est pour beaucoup assez ennuyante et a tendance à dégoûter les étudiant·e·s du langage, alors qu’OCaml peut s’avérer très intéressant. Nous ne savons pas si nous arriverons à faire mieux, mais ça ne coûte rien d’essayer. Ce cours ne couvrira donc que les bases du langage OCaml, et s’adresse principalement aux personnes ayant des bases en Python. Il se base sur ce qui a été vu en INF201 en 2020, et ne sera donc peut-être pas totalement à jour si les programmes changent les années suivantes."
jsonld: true
---

<p>
  Ce cours a pour vocation d’être une alternative à l’UE d’INF201 (programmation fonctionelle en OCaml) de l’Université de Grenoble-Alpes (UGA).
  En effet, cette UE est pour beaucoup assez ennuyante et a tendance à dégoûter les étudiant·e·s du langage, alors qu’OCaml peut s’avérer très intéressant.
  Nous ne savons pas si nous arriverons à faire mieux, mais ça ne coûte rien d’essayer.
  Ce cours ne couvrira donc que les bases du langage OCaml, et s’adresse principalement aux personnes ayant des bases en Python.
  Il se base sur ce qui a été vu en INF201 en 2020, et ne sera donc peut-être pas totalement à jour si les programmes changent les années suivantes.
</p>

<p>
  Nous utiliserons les conventions suivantes :
</p>
<ul>
  <li>
    Les sections « Bonus » abordent des notions qui ne sont pas dans le cours d’INF201,
    mais intéressantes, et que vous pouvez lire si vous voulez aller plus loin.
  </li>
  <li>Les notions importantes à comprendre sont toujours en gras.</li>
</ul>

<p>
  <strong>Note importante :</strong> il est conseillé de tester les exemples de code au fur et à mesure,
  et de bien les comprendre avant de passer à la suite. Créer vos propres exemples aide aussi beaucoup à assimiler
  les nouvelles notions.
</p>

<ol class="toc">
  <% for chap in current_page.data.chapters.values do %>
    <li><%= chap %>
    <ol <% if chap == "Annexes" %>style="list-style-type: upper-alpha"<% end %>>
        <% for p in sitemap.resources.filter { |x| x.data.chapter == current_page.data.chapters.key(chap) }.sort_by { |x| x.destination_path } do %>
          <li><a href="/<%= p.destination_path.delete_suffix '/index.html' %>">
            <%= p.data.title %>
          </a></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>

<p>Si vous avez des remarques ou des suggestions, vous pouvez nous en faire part en écrivant un mail à <code>ocaml arobase gelez point xyz</code>.</p>
