---
title: Cours alternatif d'OCaml
no_title: true
illus: caml.jpg
---

<p>
  Ce cours a pour vocation d'être une alternative à l'UE d'INF201 de l'Université de Grenoble-Alpes.
  En effet, cette UE est pour beaucoup assez ennuyante et a tendance à dégoûter les étudiant⋅e⋅s du langage, alors qu'il peut s'avérer très intéressant.
  Nous ne savons pas si nous arriverons à faire mieux, mais ça ne coûte rien d'essayer.
  Ce cours ne couvrira donc que les bases du langage OCaml, et s'adresse principalement aux personnes ayant des bases en Python.
</p>

<p>
  Nous utiliserons les conventions suivantes :
  <ul>
    <li>
      Les sections « Bonus » abordent des notions qui ne sont pas dans le cours d'INF201,
      mais intéressantes, et que vous pouvez lire si vous voulez aller plus loin.
    </li>
    <li>Les notions importante à comprendre sont toujours en gras.</li>
  </ul>
</p>

<ol class="toc">
  <li>
    Notions de base
    <ol>
      <li><a href="/I/1-presentation">Présentation d'OCaml</a></li>
      <li><a href="/I/2-premier-pas">Premiers pas en OCaml</a></li>
      <li><a href="/I/3-plus-de-types">Plus de types !</a></li>
      <li><a href="/I/4-les-fonctions">Les fonctions</a></li>
      <li><a href="/I/5-quizz">Quizz de fin de chapitre</a></li>
    </ol>
  </li>
</ol>
</h3>

<p>Si vous avez des remarques ou des suggestions, vous pouvez nous en faire part en écrivant un mail à <code>ana arobase gelez point xyz</code>.</p>
